apiVersion: apps/v1
kind: ReplicaSet
metadata:
 name: myrs
spec:
 replicas: 3
 selector:
  matchLabels:
   app: java
 template:
  metadata:
   name: mypod
   labels:
    app: java
  spec:
   containers:
    - name: c1
      image: nginx
